* {
    font-size: clamp(15px, 4vw, 20px);
    color: white;
}

#hero {
    background-position: center;
    background-image: url(https://miro.medium.com/v2/resize:fit:1000/1*Q5_t-R0xRs07wW1Kf8rCSw.gif);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper-hero {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.741);
    backdrop-filter: blur(1px);
    margin: 100px;
}

.mask {
    margin: auto !important;
}

#header {
    display: none;
    justify-content: space-around;
    position: fixed;
    background-color: #0c1247b1;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 70px;
    top: 0px;
    left: 0px;
    color: white;
    font-weight: bold;
    align-items: center;
}

#header>a {
    text-decoration: none;
    transition: all 1s;
    font-size: 20px;
    color: white;
}

#header>a:hover {
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
}

#page1 {
    overflow: auto;
    position: fixed;
    top: 70px;
    display: none;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: black;
    flex-direction: column;
    align-items: center;
}

span {
    font-size: clamp(25px, 4vw, 40px);
    color: white;
}

p {
    text-indent: 40px;
    color: white;
}

#page1>div {
    width: 70%;
}

#page1>div>span {
    font-size: clamp(15px, 4vw, 30px);
}

@media (max-width: 930px) {
    #header {
        display: none;
    }
    #page1 {
        top: 0px;
        height: 100vh;
    }
}