<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Padrões de Projeto</title>
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="p-5 text-center bg-image rounded-3" id="hero">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100" id="wrapper-hero">
                <div class="text-white">
                    <h1 class="mb-3">Padrões de Projeto</h1>
                    <h4 class="mb-3">Aluno: David Raphael Gustavo Neves</h4>
                    <h4 class="mb-3">Matéria: Modelagem de padrões de projetos</h4>
                    <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
                        onclick="openPage()">Iniciar apresentação</a>
                </div>
            </div>
        </div>
    </div>
    <div id="header">
        <a href="#oquee">O que é?</a>
        <a href="#criacional">Modelos criacionais</a>
        <a href="#estrutural">Modelos estruturais</a>
        <a href="#comportamental">Modelos comportamentais</a>
        <a href="#agradece">Agradecimento</a>
    </div>
    <div id="page1">
        <span id="oquee">O que é?</span>
        <div>
            <span>Definição:</span>
            <p>A modelagem de projetos se assemelha ao esboço meticuloso de uma obra de arte antes que o pincel toque
                na tela. É como a elaboração detalhada de um mapa antes de embarcar em uma jornada desconhecida. Esse
                processo delicado e estruturado envolve a criação de representações abrangentes e precisas que capturam
                a essência do projeto, delineando suas características, funcionalidades e estrutura.</p>
            <p>

                Imagine-a como a arquitetura de uma construção complexa, onde cada detalhe é planejado e visualizado
                antes mesmo de uma única pedra ser colocada sobre a outra. Esses modelos, sejam eles visuais ou
                descritivos, servem como guias que iluminam o caminho para o sucesso do projeto, revelando potenciais
                desafios e oportunidades antes que se tornem obstáculos intransponíveis.</p>
            <p>

                Ao criar esses modelos, os envolvidos são capazes de entender mais profundamente os requisitos do
                projeto, as interações entre os componentes e os possíveis desdobramentos que podem surgir ao longo do
                caminho. Essa prática meticulosa não só promove uma execução mais eficiente e eficaz do projeto, mas
                também fomenta uma comunicação clara e uma compreensão compartilhada entre todas as partes interessadas,
                garantindo assim que a visão do projeto seja manifestada de maneira precisa e satisfatória.</p>
            <span>Benefícios:</span>
            <ul>
                <li>
                    <b>Compreensão aprofundada:</b> Ao criar representações detalhadas do projeto antes de sua
                    implementação, os envolvidos ganham uma compreensão mais profunda e completa de seus requisitos,
                    funcionalidades e estrutura. Isso reduz a ambiguidade e o risco de interpretações equivocadas,
                    estabelecendo uma base sólida para o sucesso
                </li>
                <li>
                    <b>Identificação precoce de problemas:</b> A modelagem permite que sejam identificados e abordados
                    potenciais problemas ou desafios antes que eles se tornem obstáculos significativos. Essa
                    antecipação e resolução proativa de questões ajuda a evitar atrasos, retrabalho e custos adicionais
                    durante a implementação do projeto
                </li>
                <li>
                    <b>Otimização de recursos:</b> Ao visualizar e planejar o projeto em detalhes, é possível otimizar a
                    alocação de recursos, garantindo que sejam utilizados de maneira eficiente e eficaz. Isso inclui
                    recursos humanos, financeiros e materiais, que podem ser direcionados de forma mais estratégica para
                    alcançar os objetivos do projeto
                </li>
                <li>
                    <b>Comunicação clara e eficaz:</b> Os modelos criados durante o processo de modelagem servem como
                    ferramentas poderosas de comunicação, permitindo que todos os envolvidos tenham uma compreensão
                    compartilhada do que será entregue e como será feito. Isso reduz a probabilidade de mal-entendidos e
                    conflitos, promovendo uma colaboração mais harmoniosa e produtiva
                </li>
                <li>
                    <b>Suporte à tomada de decisão:</b> A modelagem fornece insights valiosos que ajudam os tomadores de
                    decisão a avaliar diferentes opções, considerar cenários alternativos e tomar decisões informadas.
                    Isso aumenta a probabilidade de que as escolhas feitas ao longo do projeto estejam alinhadas com os
                    objetivos e requisitos estabelecidos
                </li>
            </ul>
            <span>Defeitos:</span>
            <ul>
                <li><b>Custo e tempo:</b> A criação de modelos detalhados pode exigir investimento significativo de
                    tempo e recursos financeiros, especialmente para projetos complexos</li>
                <li>
                    <b>Complexidade excessiva:</b> Modelos muito detalhados podem se tornar complicados demais,
                    dificultando a compreensão e a utilização por parte das partes interessadas
                </li>
                <li><b>Rigidez:</b> Se os modelos não forem atualizados conforme o projeto avança, podem se tornar
                    obsoletos e incapazes de acompanhar mudanças ou novos requisitos</li>
                <li>
                    <b>Falta de criatividade:</b> Focar demais na modelagem pode limitar a criatividade e a inovação,
                    impedindo que novas ideias sejam exploradas
                </li>
                <li>
                    <b>Dependência excessiva:</b> Se os membros da equipe confiarem muito nos modelos, podem deixar de
                    lado a comunicação direta e a resolução de problemas em tempo real
                </li>
            </ul>
        </div>
        <span id="criacional">Modelo Criacional</span>
        <div>
            <span>Definição:</span>
            <p>refere-se a um conjunto de padrões que lidam com a criação de objetos de forma mais flexível e eficiente.
                Ele aborda os problemas associados à criação de objetos em um sistema de software e fornece soluções
                para esses problemas</p>
            <span>Padrões criacionais:</span>
            <ul>
                <li>
                    <b>Factory Method (Método Fábrica):</b> Este padrão define uma interface para criar um
                    objeto, mas permite que as subclasses decidam qual classe concreta instanciar. Ele encapsula a
                    criação de objetos, permitindo que a classe cliente trabalhe com objetos por meio de uma interface
                    comum, sem se preocupar com as classes concretas específicas.
                </li>
                <li>
                    <b>Abstract Factory (Fábrica Abstrata):</b> Este padrão fornece uma interface para criar
                    famílias de objetos relacionados ou dependentes sem especificar suas classes concretas. Ele
                    encapsula várias fábricas individuais que compartilham uma mesma interface, fornecendo uma maneira
                    de criar famílias de objetos relacionados sem expor suas implementações específicas.
                </li>
                <li>
                    <b>Builder (Construtor):</b> O padrão Builder é usado para construir um objeto complexo
                    passo a passo. Ele permite que você crie diferentes tipos e representações de um objeto usando o
                    mesmo código de construção. Isso é útil quando o processo de construção de um objeto é complicado ou
                    quando o objeto final pode ter diferentes representações.
                </li>
                <li>
                    <b>Singleton (Único):</b> O padrão Singleton garante que uma classe tenha apenas uma
                    instância e fornece um ponto de acesso global para essa instância. Ele é útil quando você deseja
                    controlar estritamente o acesso a uma única instância de uma classe e garantir que não haja mais de
                    uma instância em todo o sistema.
                </li>
                <li>
                    <b>Prototype (Protótipo):</b> Este padrão é usado para criar novos objetos duplicando um
                    objeto existente, conhecido como protótipo. Ele permite que você crie novos objetos com base em
                    modelos existentes, fornecendo uma maneira eficiente de criar objetos complexos que são semelhantes
                    entre si.
                </li>
            </ul>
        </div>
        <span id="estrutural">Modelo Estrutural</span>
        <div>
            <span>Definição:</span>
            <p>lidam com a composição de classes e objetos para formar estruturas maiores. Eles ajudam a garantir que
                essas estruturas sejam flexíveis e eficientes, facilitando a mudança e a reutilização de código</p>
            <span>
                Padrões estruturais:
            </span>
            <ul>
                <li>
                    <b>Adapter (Adaptador):</b>
                    Este padrão permite que interfaces incompatíveis trabalhem juntas. Ele converte a interface de uma
                    classe em outra interface esperada pelo cliente, permitindo que classes com interfaces incompatíveis
                    cooperem.
                </li>
                <li>
                    <b>Bridge (Ponte):</b>
                    O padrão Bridge separa uma abstração de sua implementação, permitindo que ambas possam variar
                    independentemente uma da outra. Isso facilita a mudança de uma implementação sem afetar a abstração,
                    e vice-versa.
                </li>
                <li>
                    <b>Composite (Composto):</b>
                    Este padrão permite que objetos sejam compostos em estruturas de árvore para representar hierarquias
                    parte-todo. Isso permite que clientes tratem objetos individuais e composições de objetos de maneira
                    uniforme.
                </li>
                <li>
                    <b>Decorator (Decorador):</b>
                    O padrão Decorator adiciona responsabilidades a objetos de forma dinâmica. Ele permite que você
                    adicione novas funcionalidades a um objeto existente sem alterar sua estrutura básica.
                </li>
                <li>
                    <b>Facade (Fachada):</b>
                    Este padrão fornece uma interface unificada para um conjunto de interfaces em um subsistema. Ele
                    simplifica a interface do subsistema, tornando-o mais fácil de usar.
                </li>
                <li>
                    <b>Flyweight (Peso-leve):</b>
                    O padrão Flyweight usa compartilhamento para suportar um grande número de objetos com eficiência.
                    Ele permite que você compartilhe objetos para minimizar o uso de memória e melhorar o desempenho.
                </li>
                <li>
                    <b>Proxy (Proxi):</b>
                    Este padrão fornece um substituto ou representante de outro objeto para controlar o acesso a ele.
                    Ele permite que você controle o acesso a um objeto subjacente, adicionando funcionalidades como
                    verificação de acesso, controle de solicitações e criação sob demanda.
                </li>
            </ul>
        </div>
        <span id="comportamental">Modelo Comportamental</span>
        <div>
            <span>Definição</span>
            <p>estão relacionados ao comportamento das classes e objetos em um sistema de software. Eles se concentram
                em como os objetos se comunicam entre si e como o fluxo de controle é distribuído em um sistema</p>
            <span>Padrões Comporatamentais:</span>
            <ul>
                <li>
                    <b>Chain of Responsibility (Corrente de Responsabilidade):</b>
                    Este padrão permite que vários objetos possam tratar uma solicitação sem que o remetente precise
                    conhecer os destinatários. Os objetos são encadeados e a solicitação é passada ao longo da cadeia
                    até que seja tratada ou chegue ao final.
                </li>
                <li>
                    <b>Command (Comando):</b>
                    O padrão Command encapsula uma solicitação como um objeto, permitindo que você parametrize clientes
                    com solicitações, filas ou registre solicitações, além de suportar operações que podem ser
                    desfeitas.
                </li>
                <li>
                    <b>Interpreter (Interpretador):</b>
                    Este padrão fornece uma maneira de avaliar a gramática ou a sintaxe de uma linguagem. Ele define uma
                    representação para uma gramática de uma língua, juntamente com um interpretador que usa a
                    representação para interpretar sentenças na língua.
                </li>
                <li>
                    <b>Iterator (Iterador):</b>
                    O padrão Iterator fornece uma maneira de acessar os elementos de um objeto agregado sequencialmente
                    sem expor sua representação subjacente. Ele permite que você percorra uma coleção de objetos sem
                    precisar conhecer sua implementação interna.
                </li>
                <li>
                    <b>Mediator (Mediador):</b>
                    Este padrão define um objeto que encapsula como um conjunto de objetos interage. Ele promove o
                    acoplamento fraco, reduzindo as dependências diretas entre os objetos comunicantes e centralizando a
                    comunicação.
                </li>
                <li>
                    <b>Memento (Memorando):</b>
                    O padrão Memento fornece a capacidade de restaurar um objeto para seu estado anterior (ou
                    "memorizado"). Ele permite que você capture e externalize o estado interno de um objeto sem violar
                    sua encapsulação.
                </li>
                <li>
                    <b>Observer (Observador):</b>
                    Este padrão define uma dependência um-para-muitos entre objetos, de modo que quando um objeto muda
                    de estado, todos os seus dependentes são notificados e atualizados automaticamente.
                </li>
                <li>
                    <b>State (Estado):</b>
                    O padrão State permite que um objeto altere seu comportamento quando seu estado interno muda. Ele
                    encapsula estados em classes separadas e delega as responsabilidades associadas a esses estados para
                    objetos representativos.
                </li>
                <li>
                    <b>Strategy (Estratégia):</b>
                    Este padrão define uma família de algoritmos, encapsula cada um deles e os torna intercambiáveis.
                    Ele permite que o algoritmo varie independentemente dos clientes que o usam.
                </li>
                <li>
                    <b>Template Method (Método de Modelo):</b>
                    O padrão Template Method define o esqueleto de um algoritmo em uma operação, adiando alguns passos
                    para subclasses. Ele permite que as subclasses redefinam certos passos de um algoritmo sem alterar
                    sua estrutura.
                </li>
                <li>
                    <b>Visitor (Visitante):</b>
                    Este padrão permite que você adicione novas operações a objetos existentes sem alterar sua
                    estrutura. Ele separa algoritmos de estrutura de objetos, permitindo que você adicione novos
                    comportamentos sem modificar os objetos.
                </li>
            </ul>
        </div>
        <span id="agradece">Agradecimento</span>
        <div>
            <p>Agradeço pela atenção e por ter tirado um pouco do seu tempo para ver o site e ler sobre os padõres de projetos</p>
            <p>Atenciosamente</p>
            <p>David Raphael Gustavo Neves</p>
            <p>Aluno do 2° ano de ADS - AMS</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="./js/indexAPI.js"></script>
</body>

</html>